.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1; 
}
  
.video-overlay-text {
  position: absolute; /* Position within the overlay */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  color: white; /* Example color */
  font-size: 2rem; /* Example font size */
  /* Add more styling as needed (font family, background, etc.) */
}